*{
  margin: 0;
}

body{
  background-color: #FFFFFF;
}

.background2{
  width: 724px;
  height: 3940px;
  background-color: #4772D9;
  margin-left: 539px;
  position: absolute;
  border-radius: 6px 0px 0px 6px;
  background: -webkit-linear-gradient(left top, rgb(71, 114, 217), rgb(117, 109, 227));
  background: -o-linear-gradient(bottom right, rgb(71, 114, 217), rgb(117, 109, 227));
  background: -moz-linear-gradient(bottom right, rgb(71, 114, 217), rgb(117, 109, 227));
  background: linear-gradient(to bottom right, rgb(71, 114, 217), rgb(117, 109, 227));
}

.text{
  color: #FFFFFF;
  font-family: 'Montserrat';
  margin-left: 28px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: bold;
}

.menu{
  font-family: 'Montserrat';
  font-size: 13px;
  text-decoration:none;
  font-weight: bold;
  color: #323232;
}

li{
  list-style: none;
  position: absolute;
}

#first{
  margin-top: 230px;
}

#second{
  margin-top: 280px;
}

#third{
  margin-top: 330px;
}

#fourth{
  margin-top: 380px;
}

#fifth{
  margin-top: 430px;
}

#sixth{
  margin-top: 480px;
}

img{
  border-radius: 6px 6px 6px 6px;
  position: absolute;
}

.imagen{
  margin-top: -100px;
  margin-left: 320px;
  width: 674px;
  height: 449px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.imagen:hover{
  opacity: 0.7;
}

.little-box{
  position: absolute;
  width:196px;
  height: 119px;
  margin-left: 1010px;
  margin-top: -100px;
  z-index: +9;
}

#vid1{
  margin-top: 40px;
}

#img2{
  margin-top: 500px;
}

#sm2{
  margin-top: 500px;
}

#vid2{
  margin-top: 640px;
}

#img3{
  margin-top: 1100px;
}

#sm3{
  margin-top: 1100px;
}

#vid3{
  margin-top: 1240px;
}

#img4{
  margin-top: 1700px;
}

#sm4{
  margin-top: 1700px;
}

#vid4{
  margin-top: 1840px;
}

#img5{
  margin-top: 2300px;
}

#sm5{
  margin-top: 2300px;
}

#vid5{
  margin-top: 2440px;
}

#img6{
  margin-top: 2900px;
}

#sm6{
  margin-top: 2900px;
}

#vid6{
  margin-top: 3040px;
}
