* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.71429;
    background-color: #fff;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(40,40,40);
     
 }
 .menuInicial{
    padding: 0 70px;
    overflow: auto;
 }
 .container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;

}
.container:before, .container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}

#header-up{
    color: white; 
    overflow: auto; 

}
/*DROPDOWN*/
.bar1,.bar2,.bar3{
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}
.change .bar1{
    transform: rotate(-45deg) translate(-9px, 3px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -5px) ;
}

.dropbtn {
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #EE646E;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 100px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

/*LOGO*/

#logo{
    width: 65px;
    height: 55px;
    padding: 5px;
    display: inline-block;
    float: left;
    margin-left: 10px;

}

#logo > img{
    width: 100%;
    height: 100%;

}
/*MENU UP-BUSCADOR*/
#menu-rigth{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
}
#buscador{
    display: inline-block;
    position: absolute;
    right: 300px;
    top: 20px;

}

/*MENU INFORMATIVO*/

#header-down{
    overflow: auto;
    padding-left: 150px;
    text-align: center;  
    /*position: absolute; COLOCARLO AL TERMINAR PARA PROBAR QUE SE MUEVA AL ENCONGER LA PAGINA */
}
.box{
    /*background: #8F04DF;*/
    float: left;
    padding: 30px;
    text-decoration:none;
}
.botones{
    font-weight: 700;
    display: inline-block;
    color: #9D9797;
}
.botones:hover{
    color: white;
}
/*CONTENIDO*/
#about{
    background: #AE3131;
    margin-top: 150px;
    padding: 50px;
    width: 
}
/*ABOUT*/
.title{
    font-size: 53px;
    margin-bottom: 5px;
    margin-top: 15px;
    font-family: 'Montserrat';
}
p{
    font-size: 21px;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Raleway';

}
h3{
    font-size: 35px;
    font-family: 'Lato';

}
/*SELECIONAR*/
#selecciona{
    background: #07B2BD;
}
.kaonashi{
    width: 50%;
    height: 50%;
    float: left;
}
.formulario1{
    background: #F94595;
    width: 400px;
    margin-top: 120px;
    text-align: center;

}

#peliculas{
    background: #1FC12A;
}

#contacto{
    background: #FF7D13;

}
/*FOOTER*/

footer{
    background: rgb(40,40,40);
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*overflow: auto;*/
}
.footer{
    /*float: left;*/
    /*margin-left: 300px;*/
    font-size: 12px;

}
.foot-left{
    float: left;
    margin-left: 200px;
}
.foot-right{
    float: right;
    margin-right: 200px;
    
}
