*{
	
}
body{

/*padding: 0;*/
width: 1340px;
margin: 0 auto;
color: white;
background: #1983B4;

}
#container{
	position: relative;
	
}
.imagenes{
	position: relative;
	height: 650px;
	width: 1300px;
	margin: 0 auto;
}
.imagenes img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}
/*.imagenes img.top:hover{
	opacity: 0;
}*/
@keyframes timer{
	0%{
		opacity: 1;
	}
	25%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.imagenes img.top {
animation-name: timer;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 8s;
animation-direction: alternate;
}
/*.imagenes img.second {
animation-name: timer;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}*/
.imagenes img.third {
animation-name: timer;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 12s;
animation-direction: alternate;
}
.imagenes img.fourth {
animation-name: timer;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 16s;
animation-direction: alternate;
}
.imagenes img.fifth {
animation-name: timer;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 20s;
animation-direction: alternate;
}
.text{
	position: absolute;
	top: 35px;
	left: 60px;
	
}
#logo{
	position: absolute;
	bottom: 25px;
	left: 60px;
	width: 135px;
	height: 125px;
}
p{
	white-space: initial;
	width: 250px;
	line-height: 2;
}